%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %title Who are follow whom?
    %link{:type => "text/css", :media => "screen", :href => "/css/main.css", :rel => "stylesheet"}
    %script{:type => "text/javascript", :src => "/js/jquery.js"}
  %body
    %div{:id => :page}
      %div{:id => :top}
        %h1 Who are following whom?
      %div{:id => :content}
        %form{:method => "post", :action => "/"}
          Are
          %input{:type => :text, :name => "are"}
          following
          %input{:type => :text, :name => "follow"}
          ?
          %div{:class=>:button}
            %button{:type => :submit, :id => :submit} I want know now!
        %div{:id => :result}
          %p{:style => "text-align:center;"}
            = @friendship
      %div{:id => :footer}
        